.container {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  list-style: none;

  .listItem {
    .imageContainer {
      width: 600px;
      min-height: 250px;
      position: relative;
    }
  }
}

@media screen and (max-width: 565px) {
  .container {
    padding: 0;
    margin-bottom: 1rem;
  }
}
