.container {
  padding-top: 6rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    padding: 0rem;
  }

  .subtitle {
    padding: 0;
  }
}
