.container {
  .title {
    padding-top: 5rem;
    border-bottom: 1px solid rgb(120, 119, 119);
    width: auto;
    height: auto;
  }

  .subtitle {
    padding: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

      .imageInfoPairLeft{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        text-align: center;

        .svgs {
          max-width: 400px;
          height: auto;
        }

        .infoItem{
          padding: 1rem;
        }
      }

      .imageInfoPairRight{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .svgs{
          max-width: 400px;
          height: auto;  
        }

        .infoItem {
          padding: 1rem;
        }
      }
    
  }
}
